<section>
  <div class='header'>
    <h1>Portfolio</h1>
  </div>
  
  <div class='grid'>
    <div class='flex-6 card'>
      <div class='card_body'>
        <h1>Sign up page</h1>

        <p>Playing around with more UI concepts - this time for a sign up page! I hope you guys like it! Really happy with how it turned out :D! Make sure to give yourself a username to get a custom greeting!</p>
      </div>
      <div class='card_image' style='background: url("https://raw.githubusercontent.com/Jackthomsonn/jackthomsonn.github.io/master/src/assets/images/sign-up-ui%402x.png?token=ALLKCy-KD0cQ2_eIIGHSyp44s_KRgD6mks5Z6PJgwA%3D%3D"); background-size: cover; background-repeat: no-repeat; background-position: center;'>
      </div>
    </div>
    <div class='flex-6 card'>
        <div class='card_body'>
          <h1>Ex Machina</h1>
  
          <p>Lately I have been going to the cinema a bit too much. This is where this idea came into play. I decided to create a film reviewer app of some of my favourites to date! Built using Angular & following John Pappas style guide</p>
        </div>
        <div class='card_image' style='background: url("https://raw.githubusercontent.com/Jackthomsonn/jackthomsonn.github.io/master/src/assets/images/film-reviewer%402x.png?token=ALLKCxXF72AJl1S3kSpvTUBU8HnTCC9Lks5Z6PEdwA%3D%3D"); background-size: cover; background-repeat: no-repeat; background-position: center;'>
        </div>
      </div>
  </div>
</section>