@import "./_variables";
@import "./_mixins";

.grid {
  display: flex;
  flex-flow: row wrap;
}

.container {
  width: $container;
  margin: 0 auto;
}

section {
  margin-top: $margin;
}

[class*="flex"] {
  padding: 1em;
  margin: $spacing / 2;
  color: #FFF;
  flex: auto;
}

@for $i from 1 through 12 {
  .flex-#{$i} {
    flex: 0 0 $row-width / $columns * $i - $spacing;
    min-width: $row-width / $columns * $i - $spacing;
    display: flex;
    @include respond-to(small) {
      flex: 0 0 100% - $spacing;
    }
  }
}