$row-width: 100%;
$columns: 12;
$spacing: 1%;

// Colour
$primary-color: #6AD5CB;
$white: #F9F9F9;

// Shadows
$box-shadow: 1px 5px 20px #DDD;

// Container Variables
$container: 65%;

// Base Variables
$font-stack: 'Roboto', sans-serif;
$font-size: 100%;
$font-weight: 300;
$margin: 5em;

// Breakpoint Variables
$small: 0;
$medium: 800px;