<div class='header_content'>
  <h1>A stylishly creative Frontend Web Developer who strives to create a better front for the modern web</h1>

  <div class='actions'>
    <a target="_blank" href="https://twitter.com/Jackthomsonn">
      <button>Follow me on Twitter</button>
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/jackthomsonn/">
      <button>Connect with me on LinkedIn</button>
    </a>
    <a target="_blank" href="https://www.github.com/jackthomsonn">
      <button>See my code on GitHub</button>
    </a>
  </div>
</div>