<div class='header_content'>
  <h1>A stylishly creative Frontend Web Developer who strives to create a better front for the modern web</h1>

  <div class='actions'>
    <a target="_blank" href="https://twitter.com/Jackthomsonn">
      <button>Follow me on Twitter</button>
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/jackthomsonn/">
      <button>Connect with me on LinkedIn</button>
    </a>
    <a target="_blank" href="https://www.github.com/jackthomsonn">
      <button>See my code on GitHub</button>
    </a>
  </div>

  <div class='footer'>
    <div>
      <img src="assets/images/skills/angular.png" />
    </div>
    <div>
      <img src="assets/images/skills/nodejs.png" />
    </div>
    <div>
      <img src="assets/images/skills/socketio.gif" />
    </div>
    <div>
      <img src="assets/images/skills/mongo.png" />
    </div>
    <div>
      <img src="assets/images/skills/ionic.png" />
    </div>
  </div>
</div>